main{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.1rem;
}
.container-left{
    margin-top: 27vh;
    margin-left: 150px;
    color:#2a2a2a;
}
.container-right{
    width: 50vw;
    height: auto;
}

.container-left h1{
    margin-right: 10px;
    font-size: 2.3rem;
}
.container-left p{
    width: 28.5vw;
}

.img{
    width:40vw;
    min-height: 300px;
    max-height: 350px;
    min-width: 400px;
    margin-left: 10vw;
    margin-top: 20vh;
    float: right;
    border: none;
}