@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400&display=swap');*{
    margin: 0;
    padding: 0;
}
:root{
    --main-color:#f2674d;
    --sec-color:#2a2a2a;
    --hover-color:#e46048;
}
body{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: var(--sec-color);
}
#active{
    color: var(--main-color);
}

 header{
    margin: 0 1vw 0 1vw;
    align-items: center;
    padding-bottom: 10px;
    margin-top: 5px;
    display: flex;
}
.logo{
    font-size:1.7rem;
    font-weight: 900;
}
.logo-link{
    text-decoration: none;
    color:var(--main-color);
}
.menu-items{
    display: flex;
    width: 100vw;
    margin-top: 0.5vw;
    align-items: baseline;
    gap: 5%;
    padding: 0 20px;
    justify-content: center;
}
.item{
    padding: 5px;
    font-size: 1.5rem;
    color:var( --sec-color);
    text-decoration: none;   
}


.item:hover{
    color:var(--main-color);
}
.account{
    text-decoration: none;
    color:white;
}
button{
    border: none;
    border-radius: 10px;
    background-color: var(--main-color);
    font-size: 1rem;
    font-weight: bold;
    padding: 1.9vh 1.13vw;
    color:white;
    cursor: pointer;
}

button:hover{
    background-color: var(--hover-color);
   
}
