<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main.css"/>
    <link rel="stylesheet" type="text/css" href="about.css"/>
    <title>About</title>
</head>
<body>
    <header>

        <section class="logo">
            <a class="logo-link" href="/">ErickBs</a>
        </section>

        <nav class="menu-items">
                <a class="item" href="/projects">Projects</a> 
                <a class="item" href="/comming">Comming</a> 
                <a id ="active" class="item" href="/about">About</a> 
        </nav>

        <BUtton  class="b-account"><a class="account" href="/resume"> Resume</a></BUtton>

    </header>
    
    <main class="main">
        <div class="container-left">
            <h2 class="title">About</h2>
           
                <ul class="texts">
                    <div class="block">
                        <li class="topics">How is my process to learn</li>
                        <p>I'm a self-taught, the most part of the content i know came from my searchs and necesseties,
                            i usuallly do many courses for improve my knowledge, but, learn with necessities and problems of a project
                            for me is the best way to learn.
                        </p>
                    </div>

                    <div class="block">
                        <li class="topics">My Abilities</li>
                        <li>Node.js</li>
                        <li>SQL</li>
                        <li>PHP</li>
                        <li>Javascript</li>
                        <li>CSS</li>
                        <li>HTML</li>
                        <li class="topics">Image Manipulators</li>
                        <li>Illustrator</li>
                        <li>Photoshop</li>
                        <li class="topics">Languages</li>
                        <li>Native Portuguese</li>
                        <li>Advanced English (with certificate)</li>

                        
                    </div>

                </ul>
           
        </div>

        <div class="container-right">
            <section class="img" >
                <img class="profile" src="/img/about/profile.png" />
            </section>
            <section class="information">
                <h3>Érick Souza Basso (18 years old)</h3>
                <h3>Student</h3>
                <h3>Full-Stack Developer</h3>
                <div class="contact">
                    <div class="contact-phone">
                          <span class="iconify" data-icon="mdi:whatsapp" style="color: #f2674d;"></span>
                          <h3>(11) 99369-5670</h3>
                    </div>

                    <div class="contact-email">
                        <span class="iconify" data-icon="mdi:email" style="color: #f2674d;"></span>
                        <h3>erickbasso22@gmail.com</h3>
                    </div>
                  
                </div>
                
               

            </section>

        </div>
    </main>
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>

</body>
</html>