<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="main.css"/>
        <link rel="stylesheet" type="text/css" href="cmming.css"/>
        <title>Comming</title>
    </head>
    <body>
        
        <header>

            <section class="logo">
                <a class="logo-link" href="/">ErickBs</a>
            </section>

            <nav class="menu-items">
                    <a class="item" href="/projects">Projects</a> 
                    <a id="active" class="item" href="/comming">Comming</a> 
                    <a class="item" href="/about">About</a> 
            </nav>

            <BUtton  class="b-account"><a class="account" href="/resume"> Resume</a></BUtton>

        </header>

          <h2 class="title">Comming Projects</h2> 

        <main>

            <section class="container-left">
                <img src="Img/comming/illust.png">
            </section>

            <article class="container-right">
                <section class="topic-one">
                    <h3>YOURFUTURE - TCC</h3>
                    <h4>WebSite - 2021</h4>
                    <p class="intro">A lot of students who are finishing the middle school</br> 
                        are totally lost about the future which they will follow, so,</br> 
                        thinking about this issue the yourfuture born.</p>
                </section>
                
                <section class="description">
                    <p> The website has a lot of features to help this problematic, how,</br>
                        vocacional tests, informations about college entrance exams,  </br>
                        jobs and a few other professional and academic contents.      </p>
                </section>

                <aside>
                    <a href="http://fetepsvirtual.cpscetec.com.br/projetosView.php?tipo=E&id=10"> Know more about!</a>
                </aside>
            </article>

        </main>

    </body>
</html>