<html>

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="main.css"/>
        <link rel="stylesheet" type="text/css" href="proj.css"/>
        <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>       
        <title>Projects</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="main.css"/>        
        <link rel="stylesheet" type="text/css" href="home.css"/>
        <title>ErickBs</title>
    </head>

    <body>

        <header>

            <section class="logo">
                <a class="logo-link" href="/">ErickBs</a>
            </section>

            <nav class="menu-items">
                    <a id="active" class="item" href="/projects">Projects</a> 
                    <a class="item" href="/comming">Comming</a> 
                    <a class="item" href="/about">About</a> 
            </nav>

                <BUtton  class="b-account"><a class="account" href="/resume"> Resume</a></BUtton>

        </header>

            
        <main>

            <div class="content-left">

                <h1>Projects Already Done</h1></br>
                <p>
                    Here i putted my projects, some of these I did with a group of people,
                    in majority i used html, css,</br>
                    php and javascript how the programming languages.</br>
                    Click on the itens to know more about the project.
                </p>

            </div>

            <div class="content-right">
                
                <a href="#proj1">
                <section class="box-one">
                    <span class="iconify" data-icon="mdi:timetable" style="color: #f2674d;" data-width="24" data-height="24"></span>
                    <p>OrganizeNow</p>
                </section>
                </a>

                <a href="#proj2">
                <section class="box-two">
                    <span class="iconify" data-icon="mdi:xml" style="color: #f2674d;" data-width="24" data-height="24"></span>
                    <p>Prototypes</p>  
                </section>
                </a>

                <a href="#proj3">
                <section class="box-three">
                    <span class="iconify" data-icon="mdi:file-account" style="color: #f2674d;" data-width="24" data-height="24"></span>
                    <p>MyPortfolio</p>
                </section>
                </a>

            </div>

        </main>

            <article class="container-proj1">
                <address id="proj1"></address>
            
                <section class="description">
                    <h3>Web Site</h3>
                    <h1 id="Org">OrganizeNow</h1>
                    <p>OrganizeNow has a goal to organize routines,</br>
                        with schedules and alarms, this website can do it with </br>
                        much efficiency.
                    </p>
                </section> 

                <article class="container-slider">
                    <section id="slider">
                        <img class="selected" src="Img/PagesOrg/Home_ORGNOW.png" >
                        <img src="Img/PagesOrg/Tarefas_ORGNOW.png" >
                        <img src="Img/PagesOrg/About_ORGNOW.png" >
                    </section>
                    <script src="slider.js"></script> 
                </article>

            </article>

            <aside class="details">
                <h4 >Hover the icons</h4>

                <dfn>  <abbr title="Languages Used"> <span class="iconify" data-icon="mdi:xml" style="color: #f2674d;" data-width="24" data-height="24"></span></abbr>  </dfn>
                <h3>Html, CSS, Php, Sql and Javascript</h3>
    
                <dfn><abbr title="Goal"> <span class="iconify" data-icon="mdi:flag-checkered" style="color: #f2674d;"></span></abbr> </dfn>   
                <h3>Project for school</h3>
            </aside>

           
            <article class="container-proj2">
               <address id="proj2"></address>
                
                <section class="description">
                    <h3>Logical</h3>
                    <h1>Prototypes</h1>
                    <p>Here I putted not only prototypes but also</br>
                        concepts i have been training, for a better comprehension of </br>
                        determined topic, even though so basic, it helps a lot.
                    </p>
                </section>

                <article class="container-slider">
                        <section id="slider2">
                            <img class="selected" src="Img/PagesVT/pg2.png" >
                            <img src="Img/PagesVT/pg1.png" >
                            <img src="Img/PagesVT/pg3.png" >
                        </section>
                        <script src="slider.js"></script> 
                </article>

            </article>

            <aside class="details">
                <h4 >Hover the icons</h4>

                <dfn>  <abbr title="Languages Used"> <span class="iconify" data-icon="mdi:xml" style="color: #f2674d;" data-width="24" data-height="24"></span></abbr>  </dfn>
                <h3>Javascript</h3>
    
                <dfn><abbr title="Goal"> <span class="iconify" data-icon="mdi:flag-checkered" style="color: #f2674d;"></span></abbr> </dfn>   
                <h3>Test and Practice</h3>
            </aside>

            <article class="container-proj3">
                <address id="proj3"></address>

                <section class="description">
                    <h1>MyPortfolio</h1>
                    <p>
                        This project pretends not only expose my works, but also,</br>
                        train new features and methodologies, all the proccess done,
                        since, the build of ideia until the final result, brings me a lot of
                        experiences to improve my professional person.
                    </p>

                    <aside>
                        <dfn>  <abbr title="Languages Used"> <span class="iconify" data-icon="mdi:xml" style="color: #f2674d;" data-width="24" data-height="24"></span></abbr>  </dfn>
                        <h3>Html, Css, Javascript and NodeJs</h3>                 
                    </aside>

                </section>

                <section class="illustration">
                    <img src="Img/projects/imgPortf.png">
                </section>

            </article>

 
    </body>   
</html>